<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="root-path" value="/Users/prazi/Documents/GitHub/TFlow/out/logs/"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date | %-5level | %msg | [%class:%line]%n</pattern>
        </encoder>
        <immediateFlush>true</immediateFlush>
    </appender>

    <!--Daily rolling file appender-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${root-path}twcmd.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${root-path}twcmd-%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date | %-5level | %msg | [%class:%line]%n</pattern>
        </encoder>
        <immediateFlush>true</immediateFlush>
    </appender>

    <logger name="org.apache.kafka" level="info">
        <appender-ref ref="FILE" />
    </logger>

    <root level="info">
        <appender-ref ref="FILE" />
    </root>

</configuration>