<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="root-path" value="/Users/prazi/Documents/GitHub/TFlow/out/logs/"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- full list of converter see PatternLayout.java -->
            <pattern>%date | %-5level | %msg | %method\(%file:%line\)%n</pattern>
        </encoder>
        <immediateFlush>true</immediateFlush>
    </appender>

    <!--Daily rolling file appender-->
    <appender name="KAFKA" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${root-path}tflow-kafka.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${root-path}tflow-kafka-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <maxFileSize>3MB</maxFileSize>
            <maxHistory>3</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date | %-5level | %-42class | %msg | line:%line%n</pattern>
        </encoder>
        <immediateFlush>true</immediateFlush>
    </appender>

    <!--Daily rolling file appender-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${root-path}tflow.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${root-path}tflow-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <maxFileSize>3MB</maxFileSize>
            <maxHistory>3</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date | %-5level | %-42class | %msg | line:%line%n</pattern>
        </encoder>
        <immediateFlush>true</immediateFlush>
    </appender>

    <logger name="org" level="info">
        <appender-ref ref="KAFKA" />
    </logger>

    <logger name="com.tflow.zookeeper" level="info">
        <appender-ref ref="KAFKA" />
    </logger>

    <logger name="com.clevel.dconvers" level="info">
        <appender-ref ref="FILE" />
    </logger>

    <root level="trace">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>