:root {
    --plug-size: 8px;
    --string-color: red;
    --integer-color: green;
    --decimal-color: blue;
    --date-color: yellow;
    --table-color: gray;
}

body .ui-panelgrid .ui-panelgrid-cell {
    /*border: 1px dotted var(--surface-c); // for Layout Debuging */
    border: 0;
}

.screen-area > .ui-splitter {
    height: 100%;
    border: 0;
    background-color: var(--surface-b);
}

.left-panel .tool-panel.ui-panel .ui-tabs .ui-tabs-header {
    width: 50%;
    justify-content: center;
    align-items: center;
}

.main-panel .tool-panel.ui-panel .ui-panel-actions {
    width: 100%;
}

.main-panel .tool-panel.ui-panel .ui-panel-actions .ui-menu.ui-menubar {
    border: 0;
    padding: 0;
    border-radius: calc(var(--border-radius) - 1px);
}

.zoom-factor input {
    width: 5em;
    height: 1.5em;
    text-align: center;
}

.zoom-factor .ui-slider {
    width: 15em;
    border-color: var(--surface-c);
}

.main-panel .tool-panel.ui-panel .ui-panel-content {
    padding: 0;
}

.tool-panel form {
    width: 100%;
    height: 100%;
}

.tool-panel .properties {
    padding: 0;
    margin: 0;
    border: 0;
}

.tool-panel .properties .ui-scrollpanel-container {
    width: 100% !important;
}

.tool-panel .properties .property-label {
    color: var(--text-color);
    font-weight: bold;
}

.tool-panel .properties .property-label.fit-width {
    padding: 0.5em;
}

.tool-panel .properties .ui-inputnumber .ui-inputfield {
    width: 100%;
}

.tool-panel .properties .fileupload {
    display: flex;
    overflow: hidden;
}

.tool-panel .properties .fileupload label {
    display: inline-block;
    width: calc(100% - 2.25em);
}

.tool-panel .properties .fileupload .ui-fileupload-simple {
    width: 2.2em;
    height: 1.5em;
    display: inline-block;
}

.tool-panel .properties .ui-fileupload-simple .ui-button.ui-button-text-icon-left {
    padding: 0;
    width: 100%;
    height: 100%;
}

.tool-panel .properties .ui-fileupload-simple .ui-button.ui-button-text-icon-left .ui-button-text {
    display: none;
}

.tool-panel .properties .ui-fileupload-simple .ui-fileupload-filename {
    height: 0;
    display: inline-block;
}

.tool-panel .properties .hidden {
    display: none;
    width: 0;
    height: 0;
}

.tool-panel .properties .disabled {
    color: var(--surface-d);
    font-weight: normal;
}

.tool-panel .properties .title {
    color: var(--surface-c);
    font-weight: bolder;
    text-transform: uppercase;
}

.tool-panel .properties .description {
    color: var(--text-color-secondary);
    font-weight: normal;
}

.tool-panel .properties .ui-datatable,
.tool-panel .properties .ui-datatable-tablewrapper,
.tool-panel .properties .ui-datatable table,
.tool-panel .properties .ui-datatable thead,
.tool-panel .properties .ui-datatable tbody {
    width: 100%;
}

.tool-panel .properties .ui-datatable td,
.tool-panel .properties .ui-datatable th {
    padding: 0;
}

.hidden-input {
    position: fixed;
    z-index: 1;
}

.hidden-input,
.tool-panel .properties .prev-input,
.tool-panel .properties .next-input {
    margin: 0;
    border-width: 0;
    padding: 0;
    width: 0;
    height: 0;
}

.tool-panel .properties .ui-scrollpanel-container .ui-scrollpanel-content {
    width: 97% !important;
}

body .ui-divider.ui-divider-horizontal {
    color: var(--surface-d);
    height: calc(1em + 4px);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

iframe {
    border: 0;
    height: calc(100% - 1px);
    width: calc(100% - 1px);
    position: static;
}

/* -- query-chart -- */

body .query-panel {
    min-height: 20rem;
    align-items: stretch;
}

body .query .select-table-panel {
    z-index: 8000;
    position:absolute;
    margin-left: calc(var(--padding)*-2);
    margin-right: calc(var(--padding)*2);
    background-color: var(--surface-b);
    padding: var(--padding);
}

body .query-panel .select-column-panel {
    background-color: var(--surface-a);
}

body .query-actions {
    position: absolute;
    top: 0;
    right: 0;
    margin: calc(var(--margin) * 2);
}

body .query-table .selected.column {
    background-color: var(--surface-c);
}

body .hide-numbers .query-table .number,
body .hide-actions .query-table .action {
    display: none;
}

/* -- flow-chart -- */

.flow-chart {
    background-color: var(--surface-a);
}

.section {
    display: table-cell;
    padding: calc(2 * var(--padding));
    background-color: var(--surface-a);
    vertical-align: middle;
}

.section + .section {
    border-left: var(--surface-c) dashed 4px;
}

.data-source.flex {
    display: flex;
    align-self: center;
    flex-direction: column;
}

.button {
    margin-left: var(--margin);
}

.button,
.data-source,
.data-file,
.step-output {
    position: relative; /* relative position to support the end-plug */
    border: var(--surface-c) solid 1px;
    border-radius: var(--border-radius);
    background-color: var(--surface-e);
    /*min-width: 8rem;*/
    padding: var(--padding);
    text-align: center;
}

.step-output > div {
    display: table-cell;
}

.step-output > div + div {
    border-left: var(--surface-c) solid 1px;
}

.data-source img,
.data-file img,
.step-output img {
    width: 4rem;
}

.data-source p,
.data-source span,
.data-file p,
.data-file span,
.step-output p,
.step-output span {
    margin: var(--margin);
    white-space: nowrap;
    display: block;
}

.data-source p,
.data-file p,
.step-output p {
    font-weight: bold;
}

body .ui-panel.data-table .ui-panel-titlebar,
body .ui-panel.function .ui-panel-titlebar {
    background-color: var(--surface-b);
}

body .ui-panel.data-table .ui-panel-content,
body .ui-panel.function .ui-panel-content {
    background-color: var(--surface-e);
}

.database-panel,
.local-panel,
.sftp-panel {
    display: flex;
}

.database-panel .data-source img,
.local-panel .data-source img,
.sftp-panel .data-source img {
    width: 2em !important;
}

.database-panel .selectable,
.local-panel .selectable,
.sftp-panel .selectable {
    display: inline-block;
    margin: var(--margin);
}

.variable.active, .versioned.active,
.data-source.active, .data-source.selectable.active:hover,
.data-file.active, .data-file.selectable.active:hover,
.step-output.active, .step-output.selectable.active:hover,
.ui-panel.data-table.active .ui-panel-titlebar,
.data-table.selectable.active .ui-panel-titlebar:hover,
.ui-panel.function.active .ui-panel-titlebar,
.function.selectable.active .ui-panel-titlebar:hover,
.column.active, .column.selectable.active:hover {
    background-color: var(--surface-c);
}

.button:hover,
.step.selectable:hover,
.variable.selectable:hover,
.versioned.selectable:hover,
.data-source.selectable:hover,
.data-file.selectable:hover,
.step-output.selectable:hover,
.data-table.selectable .ui-panel-titlebar:hover,
.function.selectable .ui-panel-titlebar:hover,
.column.selectable:hover {
    cursor: pointer;
    background-color: var(--surface-d);
}

.data-table .column.action .ui-button {
    width: 100%;
    background-color: var(--surface-b);
    color: var(--text-color-secondary);
    border-color: var(--surface-b);
}

.data-table .column.action .ui-button:hover {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    border-color: var(--surface-e);
}

.hide.verifying,
.hide.building,
.hide-numbers .data-table .number,
.hide-actions .data-table .column.action,
.server button {
    display: none;
}

.function + .function {
    margin-top: 1em;
}

body .flow-chart .ui-panel .ui-panel-titlebar .ui-panel-actions {
    width: 100%;
    white-space: nowrap;
    text-align: center;
    position: relative; /* relative position to support the end-plug */
}

body .flow-chart .ui-panel .ui-panel-titlebar .ui-panel-actions button {
    margin-left: var(--margin);
    margin-right: calc(var(--margin) + var(--plug-size));
}

body .flow-chart .ui-panel .ui-panel-content {
    padding: 0;
}

body .flow-chart .ui-panel .ui-panel-content .ui-panelgrid {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    overflow: hidden;
}

.ui-panel .ui-panel-content .column {
    position: relative; /* relative position to support the end-plug */
    padding: var(--padding);
    width: 100%;
    max-width: 20em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-panel .ui-panel-content .column + .column {
    border-top: var(--surface-c) solid 1px;
}

.column div + span,
.column div + img {
    margin-left: calc(var(--plug-size) + var(--margin)) !important;
}

.column div + img {
    height: 1em;
}

.column label {
    margin-right: calc(var(--margin) + var(--plug-size));
}

.ui-panel .ui-panel-actions img,
.ui-panel .ui-panel-content .column img {
    height: 1em;
    margin-left: var(--margin);
    margin-right: var(--margin);
}

.column.string span {
    color: var(--string-color);
}

.column.integer span {
    color: var(--integer-color);
}

.column.decimal span {
    color: var(--decimal-color);
}

.column.date span {
    color: var(--date-color);
}

.column.output span {
    color: var(--date-color);
}

.start-plug,
.end-plug {
    display: inline-block;
    height: var(--plug-size);
    width: var(--plug-size);
    border-radius: 50%;
    position: absolute;
    top: calc(50% - (var(--plug-size) / 2));
}

.ui-panel-actions .start-plug {
    right: 0;
}

.data-source .start-plug,
.data-file .start-plug,
.step-output .start-plug,
.column .start-plug {
    right: var(--padding);
}

.data-source .end-plug,
.data-file .end-plug,
.step-output .end-plug {
    left: var(--padding);
}

.ui-panel-actions .end-plug {
    left: 0;
}

.ui-panel-actions .start-plug,
.ui-panel-actions .end-plug,
.data-source .start-plug,
.data-source .end-plug,
.data-file .start-plug,
.data-file .end-plug,
.step-output .start-plug,
.step-output .end-plug {
    background-color: var(--table-color);
}

.string .start-plug,
.string .end-plug,
.string .plug-button {
    background-color: var(--string-color);
}

.integer .start-plug,
.integer .end-plug,
.integer .plug-button {
    background-color: var(--integer-color);
}

.decimal .start-plug,
.decimal .end-plug,
.decimal .plug-button {
    background-color: var(--decimal-color);
}

.date .start-plug,
.date .end-plug,
.date .plug-button {
    background-color: var(--date-color);
}

.output .start-plug,
.output .end-plug {
    background-color: var(--table-color);
}

.selectable.droppable,
.selectable.active.droppable {
    background-color: var(--primary-color);
}

.selectable.drop-target,
.selectable.drop-target.droppable {
    background-color: var(--text-color-secondary);
}

body div#plugButtons {
    z-index: 90000;
    position: absolute;
    font-size: var(--font-size-1);
    background-color: rgba(128, 128, 128, .6);
    border-radius: var(--font-size-1);
    padding: var(--padding);
}

body div#plugButtons .plug-button-state {
    display: none;
}

body div#plugButtons.locked label#locked,
body .dragging label#dragging,
body .dropping label#dropping {
    display: block !important;
}

body .ui-outputlabel.ui-widget.plug-button,
body .ui-outputlabel.ui-widget.plug-button-state {
    border-radius: 50% !important;
    padding: 0 !important;
    width: var(--font-size-1);
    height: var(--font-size-1);
    font-size: var(--font-size-1) !important;
    display: block;
    overflow: hidden;
}

body .ui-outputlabel.ui-widget.plug-button .ui-icon,
body .ui-outputlabel.ui-widget.plug-button-state .ui-icon {
    display: block;
}

body .ui-outputlabel.ui-widget.plug-button-state {

}