:root {
    --top-bar-height: 50px;
    --tool-panel-title-height: 2.3rem;
    --padding: 5px;
    --margin: 5px;
    --font-size-1: 22px;
    --font-size-2: 20px;
    --font-size-3: 14px;
    --font-size-4: 12px;
    --font-size-5: 10px;
    --border-radius: 10px;
}

html {
    font-size: var(--font-size-3);
}

html, body, .container {
    height: 100%;
    background-color: var(--surface-b);
}

body {
    margin: 0;
    padding: 0;
}

body .pi,
body .ui-icon {
    font-size: 1em;
}

body .ui-panel .ui-panel-titlebar {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

body .ui-panel .ui-panel-content {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

body .ui-panel .ui-panel-actions .ui-button-icon-only {
    width: 1.5em;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link {
    padding: var(--padding);
}

body .ui-panel .ui-panel-actions .ui-button {
    height: 1.5em;
    font-size: var(--font-size-4);
}

body .ui-panel .ui-panel-actions .ui-button + .ui-button {
    margin-left: var(--margin);
}

body .ui-panel .ui-panel-actions .ui-button .ui-button-text {
    padding-top: 0;
    padding-right: 0.5em;
    padding-left: 2em;
    font-size: var(--font-size-4);
}

body .ui-panel .ui-panel-actions .ui-button.ui-button-icon-only .ui-icon {
    padding: 0;
    margin-top: -0.5em;
    margin-left: -0.5em;
    font-size: var(--font-size-4);
}

.container {
    min-width: 1000px;
    overflow: hidden;
}

.top-area {
    height: var(--top-bar-height);
    background-color: var(--surface-b);
}

.top-area .logo {
    /*width: calc(250px - var(--margin) - var(--margin)) !important;*/
    height: calc(var(--top-bar-height) - var(--margin) - var(--margin)) !important;
    margin: var(--margin);
}

.top-menu {
    float: right;
}

body .ui-menu .ui-menuitem {
    padding: var(--padding);
}

body .top-menu .ui-widget {
    font-size: 14px;
}

body .top-menu .ui-menu.ui-menubar {
    border: 0;
    padding: var(--padding);
}

body .top-menu .ui-menu.ui-menubar-options {
    text-align: right;
}

.screen-area {
    height: calc(100% - var(--top-bar-height));
}

body .tool-panel.ui-panel {
    margin: 1px;
    height: 100%;
}

body .tool-panel .ui-accordion .ui-accordion-content {
    padding: 0;
}
body .tool-panel .ui-accordion .ui-accordion-content .ui-menu {
    border: 0;
}

.tool-panel.ui-panel .ui-panel-titlebar {
    padding: var(--padding);
    padding-left: calc(var(--padding) + var(--padding));
    height: var(--tool-panel-title-height);
    font-size: var(--font-size-4);
}

.tool-panel.ui-panel .ui-panel-content {
    padding: var(--padding);
    height: calc(100% - var(--tool-panel-title-height));
}

.main-panel .tool-panel.ui-panel .ui-panel-titlebar {
    height: calc(var(--tool-panel-title-height) * 1.5);
}

.main-panel .tool-panel.ui-panel .ui-panel-content {
    height: calc(100% - (var(--tool-panel-title-height) * 1.5));
}

.tool-panel.ui-panel .ui-panel-actions .close {
    background-color: var(--surface-a);
    border-color: var(--surface-c);
    color: var(--surface-c);
}

.tool-panel.ui-panel .ui-panel-actions .close:hover {
    background-color: var(--surface-c);
    border-color: var(--surface-a);
    color: var(--surface-a);
}

/* SPECIFIC */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.ui-nopad {
    padding: 0;
}
